.Path {
  padding: 1.543rem 2.77rem 0.77rem 1.543rem;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.077rem solid #E5EFF6;
    padding-bottom: 0.6rem;
  }
  &__icon:hover  {
    cursor: pointer;
  }
  svg.material--hover circle {
    fill: #30516A;
  }
}