.SidebarLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.155rem 0 0.77rem rgba(23, 49, 69, 0.15);
  img {
    width: 100%;
  }
  img:first-child {
    margin-bottom: 0.155rem;
  }
  img:last-child {
    margin-top: 1.08rem;
  }
}