/* -----------Global---------------- */
:root{
  font-size: .9vw;
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden; 
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow-y: visible;
}

body {
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, 
input,
textarea,
div {
  outline: none;
}

// .container {
//   width: 98%;
//   // padding: 0 5px;
//   margin: 0 auto;
// }